.rowContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: var(--white) 2px solid;
    background-color: var(--greyF0F3F4);
    height: 100px;
}

.rowContainer td {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--grey413E4B);
    padding: 5px;
}

.image_container {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
}

.image_container img {
    object-fit: cover;
}

.buttonsTd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
